.container {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("../img/background.jpg");
    overflow-y: scroll;
}

#register {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.register-logo-container {
    width: 200px;
    height: 150px;
    margin: 50px  auto ;
}
.register-logo{
    width:200px;
    height: 150px;
}
.login-form {
    width: 300px;
}

.register-form-check {
    color: red;
    margin-left: 20px;
}

.register-form-used {
    float: right;
}