.logo-container {
    display: inline;
    width: 400px;
    height: inherit;
    float: left;
    font-size: large;
}

.logo {
    display: inline;
    width: 120px;
    height: 62px;
    background: rgba(255, 255, 255, .2);
    margin-bottom: 5px;
}

.logo-title {
    display: inline;
    color: #2cb1ff;
}

#allmap {
    width: 100%;
    min-height: 100vh;
    margin-top: -64px;
}

#search {
    position: fixed;
    width: 300px;
    height: 60px;
    z-index: 100;
    margin-top: 20px;
    margin-left: 10px;
}

.trigger-hide {
    position: fixed;
    width: 50px;
    height: 50px;
    z-index: 100;
    margin-top: 100px;
    margin-left: 10px;
    visibility: hidden;
}

.trigger-show {
    position: fixed;
    width: 50px;
    height: 50px;
    z-index: 100;
    margin-top: 100px;
    margin-left: 10px;
    visibility: visible;
}

.trigger-img {
    width: inherit;
    height: inherit;
}

.list-hide {
    position: fixed;
    width: 50%;
    height: 400px;
    z-index: 101;
    margin-top: 100px;
    margin-left: 60px;
    display: none;
    background-color: #f9f9f9;
}

.list-show {
    position: fixed;
    width: 70%;
    height: 500px;
    z-index: 101;
    margin-top: 100px;
    margin-left: 60px;
    display: block;
    background-color: #f9f9f9;
    overflow-y: auto;
}

.light-control-show {
    position: fixed;
    width: 40%;
    height: 400px;
    z-index: 102;
    margin-top: 100px;
    margin-left: 10px;
    display: block;
    background-color: #f9f9f9;
    text-align: center;
    overflow-y: scroll;
}

.light-control-hide {
    position: fixed;
    width: 50%;
    height: 400px;
    z-index: 99;
    margin-top: 100px;
    margin-left: 60px;
    display: none;
    background-color: #f9f9f9;
}

.map-container {
    background: rgb(255, 255, 255);

}

.item-container {
    margin-left: -36px;
}

.center-btn {
    text-align: center;
}

.infowindow-img {
    text-align: center;
}

.infowindow-message {
    text-align: left;
}

.infowindow-control {
    text-align: center;
}

.detail-lb {
    width: 66px;
    height: 50px;
}

.detail-ms {
    width: 100px;
    height: 50px;
    color: #3f51b5f0;
}

.range-picker-hide {
    display: none;
}

.range-picker-show {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.time-control-item {
    color: #3f51b5f0;
}

.time-controls {
    width: 100%;
}

.alert-img {
    width: 80px;
    height: 60px;
}

.query-img-item {
    width: 150px;
    height: 200px;
}

.infowin_container {
    width: 500px;
    height: 300px;
}

.infowin_img {
    width: 200px;
    height: 300px;
    float: right;
}

.infowin_msg {
    width: 300px;
    height: 300px;
    float: left;
    word-wrap: break-word;
    word-break: break-all;
    overflow-y: auto;
}

.alert-detail-msg-show {
    position: fixed;
    width: 500px;
    height: 400px;
    z-index: 102;
    margin-top: 100px;
    margin-left: 10px;
    display: block;
    background-color: #f9f9f9;

}

.alert-detail-msg-hide {
    display: none;
}

.alert-detail-msg {
    width: 300px;
    height: 300px;
    float: left;
    word-wrap: break-word;
    word-break: break-all;
    overflow-y: auto;
}

.alert-detail-img {
    width: 200px;
    height: 300px;
    float: right;
}

.img-query-list-container {

    margin: 10px auto;
}

.img-query-show {
    position: fixed;
    width: 600px;
    height: 400px;
    z-index: 200;
    margin-top: 100px;
    margin-left: 10px;
    display: block;
    background-color: #f9f9f9;
    overflow-y: auto;
}

.img-query-hide {
    display: none;
}

.video-query-show {
    position: fixed;
    width: 600px;
    height: 400px;
    z-index: 200;
    margin-top: 100px;
    margin-left: 10px;
    display: block;
    background-color: #f9f9f9;
    overflow-y: auto;
}

.video-query-hide {
    display: none;
}

.line-chart-show {
    position: fixed;
    width: 1000px;
    height: 500px;
    z-index: 200;
    margin-top: 10px;
    margin-left: 10px;
    display: block;
    background-color: #f9f9f9;
    overflow-y: auto;
}

.line-chart-hide {
    display: none;
}

.line-chart-container {
    width: 700px;
    height: 300px;
}

#line_chart_container_wind {
    width: inherit;
    height: inherit;
}

#line_chart_container_pressure {
    width: inherit;
    height: inherit;
}

#line_chart_container_light {
    width: inherit;
    height: inherit;
}

#line_chart_container_I {
    width: inherit;
    height: inherit;
}

#line_chart_container_vertical {
    width: inherit;
    height: inherit;
}

#line_chart_container_shake {
    width: inherit;
    height: inherit;
}